body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  background-color: #F5F5F5 !important;
}

/* General styles */
.center{
	text-align: center !important; 
}

.well{
	background-color: #FFFFFF !important;
	border: 1px solid #EBEBEB !important;
}

.internalContainer{
	min-height:300px !important;
}

/* Menu */
#menuPermissions{
	padding: 0px !important;
}

#menuPermissions .nav-child{
	display: none;
}

#menuPermissions .nav-child a{
	padding-left: 35px;
}
